@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Heebo:wght@100..900&family=Oswald:wght@200..700&family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#my-navbar {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  border-bottom: 2px solid black;
  background-color: rgb(224, 209, 209);
  font-family: Oswald;
  width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding-left: 40px;
}
.navbar-container {
  width: 100%;
}
#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-image: url("../images/pinkComputer.avif");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  border-bottom: 1px solid black;
  background-repeat: no-repeat;
  opacity: 0.8;
  height: 450px;
  border-bottom-left-radius: 100% 100px;
  border-bottom-right-radius: 100% 100px;
}
#h1-header {
  font-size: 2.7rem;
  color: white;
  font-weight: bolder;
  font-family: Heebo;
  text-shadow: 3px 6px black;
  letter-spacing: 4px;
  border-radius: 1px solid black;
  box-shadow: 0px 0px 30px 10px;
  padding: 10px;
}
#p-header {
  font-size: 1.3rem;
  background-color: #fff;
  white-space: nowrap;
  background-color: wheat;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#knowledge {
  display: flex;
  width: 95%;
}
.aside-box {
  display: flex;
  width: 195px;
  border: 1px solid black;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 100%;
  height: 170px;
  box-shadow: 0px 0px 30px 10px;
}

.aside-item span {
  font-weight: bold;
  font-family: Heebo;
}
.aside-item span {
  font-size: 11px;
}
.bx {
  font-size: 30px;
}
.bxl-html5,
.bxl-css3,
.bxl-javascript,
.bxl-bootstrap {
  color: black;
}

.bxl-css3:before,
.bxl-html5:before,
.bxl-bootstrap:before,
.bxl-javascript:before {
  background-color: white;
  border: 1px solid black;
}
.aside-item a {
  width: 77px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

.images {
  width: 60px;
  height: 60px;
}

.section-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  background-color: #f5deb370;
  padding: 55px;
  box-shadow: 0px 0px 26px 15px black;
}
.section-1-img-container {
  border-right: 1px solid grey;
  padding: 30px;
}
#pictureOfMe {
  width: 270px;
  height: 270px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 1px black;
}
.aLittleAboutMe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#textAboutMe {
  font: normal normal normal 17px / 25px;
  background-color: #ffffff4c;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 1px black;
  padding: 10px;
}
.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 55px;
  gap: 50px;
  background-color: #c3bfb6b5;
}
.cards-section-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  row-gap: 35px;
  column-gap: 50px;
}
.my-card {
  width: 16rem;
  height: 19rem !important;
  text-align: center;
}
.my-card img {
  height: 35%;
}
#h2-gallery {
  color: black;
  padding: 10px;
  border-bottom: 3px solid black;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 13px;
}
.card-body {
  padding: 10px !important;
}
.imgIcons {
  width: 10%;
  height: 10%;
}
.card-title {
  font-size: 1.2rem !important;
}
.card-text {
  font-size: 0.8rem;
  min-height: 59px;
}
.card .btn-primary {
  height: 18%;
}
.section-3 {
  display: flex;
  flex-direction: row-reverse;
  padding: 55px;
  background-color: rgba(195, 191, 182, 0.71);
  overflow-x: hidden;
  justify-content: center;
}
#form-contactUs {
  display: flex;
  flex-direction: column !important;
  gap: 15px;
}
.form-row {
  display: flex;
  gap: 35px;
  justify-content: center;
}
.form-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 200px;
  padding: 5px;
  border: none;
  border-bottom: 4px solid rgb(54 52 47 / 71%);
  background-color: rgb(253, 246, 246);
  border-radius: 4px;
}
label {
  white-space: nowrap;
  font-weight: bold;
}
#contact-message {
  width: 448px;
  height: 120px;
}
#form-para {
  font-size: 17px;
  font-weight: bold;
}
#envelope {
  width: 40%;
  position: relative;
  bottom: 58px;
  height: 290px;
  left: 27px;
}
#container-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 75%;
  background-color: white;
  padding: 25px;
  box-shadow: 0px 0px 10px 3px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
input[type="submit"] {
  background-color: rgba(195, 191, 182, 0.71);
  border: 1px solid black;
  font-weight: 600;
  font-size: 1.2rem;
  width: 448px;
}

.section-4 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  padding: 12px;
  white-space: nowrap;
  background-color: rgb(224, 209, 209);
}
.col-sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-icons {
  width: 30px;
  height: 30px;
}
.section-5 {
  font-size: 1rem;
  padding: 15px, 15px;
  height: 50px;
  display: flex;
  align-items: center;
  color: rgb(224, 209, 209);
  background-color: black;
  font-weight: bold;
  justify-content: center;
}
.section-6 {
  height: 700px;
  background-color: #f5deb370;
}
.cards-containers {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(3, auto);
  gap: 30px;
}
.cards-section-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
  text-align: center;
}
.cardsJs {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: block;
  text-decoration: none;
  background-size: cover;
  background-repeat: no-repeat;
}
.cardsJs .overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  transition: 0.3s ease;
  z-index: 1;
  gap: 10px;
}
.cardsJs:hover .overlay {
  opacity: 1;
}
.cardsJs .overlay p {
  font-size: 0.85rem;
  margin: 0;
}
.cardsJs .overlay span {
  font-size: 0.9rem;
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 4px;
  font-weight: bold;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: white;
}
.card:hover .overlay {
  opacity: 1;
}
.overlay a {
  color: white;
  text-decoration: underline;
  margin-top: 10px;
  z-index: 2; /* חשוב! */
}
.cardOne {
  background-image: url("../images/memory\ game-1.jpeg");
}
.cardTwo {
  background-image: url("../images/html-build.jpg");
}
.cardThree {
  background-image: url("../images/tictactoe-1.jpeg");
}
.cardFour {
  background-image: url("../images/shoping\ cart.jpeg");
}
.cardFive {
  background-image: url("../images/crm.jpeg");
}
.cardSix {
  background-image: url("../images/mathematic.webp");
}
.cardSeven {
  background-image: url("../images/connect4.jpeg");
}
#learningPic,
#cartPic,
#buildingImg {
  width: 40%;
  box-shadow: -15px 0px 15px black;
}
#menu-toggle {
  display: none;
}

#hamburger {
  position: fixed;
  font-size: 30px;
  cursor: pointer;
  z-index: 1001;
  display: none;
  padding-left: 30px;
  padding-bottom: 15px;
  background-color: white;
  width: 100%;
  top: 0px;
}
#x {
  position: absolute;
  font-size: 30px;
  cursor: pointer;
  display: none;
  z-index: 1001;
}
.bi-arrow-left {
  color: black;
  font-size: 1.9rem;
}
.card .btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  background-color: rgb(224, 209, 209);
  border: none;
  color: black;
}

@media screen and (max-width: 992px) {
  .cards-containers {
    grid-template-columns: repeat(2, auto);
    gap: 15px;
  }
  #h1-header {
    font-size: 1.3rem;
    letter-spacing: 2px;
  }
  #p-header {
    font-size: 0.9rem;
  }
  .cardsJs {
    width: 140px;
    height: 140px;
  }

  #knowledge {
    gap: 20px;
  }
  #pictureOfMe {
    width: 150px;
    height: 150px;
  }
  .section-1 {
    gap: 15%;
    padding: 15px;
    flex-direction: column;
    align-items: center;
  }
  .section-1-img-container {
    border-right: unset;
  }
  #textAboutMe {
    width: 350px;
  }
  .cards-section-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  #form-para {
    font-size: 12px;
  }
  .section-3 {
    padding: 30px;
  }
  label {
    font-size: 78%;
  }
  .section-4 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: 80%;
    padding: 5;
    gap: 8px;
  }
  input[type="submit"] {
    font-size: 1rem;
    width: 310px;
  }
  input {
    padding: 0;
    width: 150px;
    text-align: center;
  }
  #hamburger {
    display: block;
  }
  #menu-toggle:checked ~ #navbarNavDropdown {
    display: flex;
    padding: 89px;
  }
  #menu-toggle:checked ~ #hamburger {
    display: none;
  }
  #menu-toggle:checked ~ #x {
    display: block;
    z-index: 100000;
    padding-top: 15px;
    left: 10%;
    bottom: 96%;
    position: fixed;
  }
  #a-main {
    margin-top: 26px;
  }
  .section-6 {
    padding: 10px;
    background-color: #f5deb370;
    height: 900px;
  }
  .h2Js {
    color: purple !important;
  }
  a {
    white-space: nowrap;
    width: 80%;
    height: 23%;
  }
  .btn-primary {
    width: 80%;
  }
  #contact-message {
    width: 310px;
  }
  .cardsJs .overlay {
    gap: 0px;
  }
  .form-row {
    gap: 20px;
  }
}

@media screen and (max-width: 432px) {
  input {
    width: 135px;
  }
  .section-3 {
    flex-direction: column-reverse;
  }
  #container-3 {
    width: 100%;
    z-index: 3;
  }
}
